:root{
    --primary: #f3d2b3;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box !important;
}

body{
    background-color: var(--primary) !important;
}

/* header */
.backs{
    display: flex;
    align-items: center;
}

.backs a i{
   border-radius: 50%;
}

.checktexts{
    margin-left:450px;
}

/* order details */

.totals{
    border-top:1px solid #333;
    border-bottom:1px solid #333;

}