body{
	background-color: #f1f1f1;
}


input[type="text"] {

  width: 250px;
  height: 30px;
  margin-top: 7px;
  border:2px solid pink;
  border-radius: 12px;
  padding: 12px;
  margin: 6px;
  margin-left: 50px;
}

input[type="date"] {
color: #b5919b;
  width: 250px;
  height: 30px;
  margin-top: 7px;
  border:2px solid pink;
  border-radius: 12px;
  padding: 12px;
  margin: 6px;
  margin-left: 50px;
}



.homeBtn img{
	width: 22px;
	height: 22px;
	margin-left: 90%;
	border-radius: 50%;


}

input[type="text"]:hover{
	border:2px ;
	border:2px solid #eb3467 ;
}
input[type="date"]:hover{
	border:2px ;
	border:2px solid #eb3467 ;
}



.box{background-color: white;
	width: 30%;
	height: 80%;
	margin-left: 35%;
	margin-top: 3%;
	padding: 30px;
	border-radius: 3%;
	box-shadow: 2px 2px 5px #737373;}

.submit{
	margin-left: 20px;
	margin-top: 10px;
}
.submitBtn a{
	
	border:none;
	background-color: #eb3467;
	border-radius: 7px;
	color: white;

	margin-left: 140px;
	margin-top: 10px;
text-decoration: none;
font-size: 16px;
padding-left: 13px;
padding-right: 13px;
padding-top: 5px;
padding-bottom: 5px;
text-align: center;
}

	.submitBtn a:hover{
	
	border:2px solid #eb3467;
	background-color: pink;
	border-radius: 7px;
	color: #eb3467;

}
	.image_label label{
	display: block;
	width: 33%;
text-align: center;
	background-color: pink;
	color: white;
	border:none;
	margin-left: 110px;
	margin-top: 10px;
	top: 600px;
	left: 464px;
	padding: 10px;
  border-radius: 10px;


}

::placeholder{
	color: #b5919b;
}
.box input[type="file"]{
	display: none;
width: 40px;
height: 20px;
border:2px solid pink;
}

#image{
	margin-left: 80px;

}

textarea:focus{
	border: 2px solid #eb3467;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid pink;
  border-radius: 13px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  margin-top: 10px;
}

input[type="submit"]:hover{
	width: 100px;
	height: 50px;
	border:2px solid #eb3467;
	background-color: pink;
	border-radius: 7px;
	color: #eb3467;

}


input[type="submit"]{
	width: 100px;
	height: 50px;
	border:none;
	background-color: #eb3467;
	border-radius: 7px;
	color: white;

	margin-left: 140px;
	margin-top: 10px;

}

 select{
  border:2px solid pink;
  margin-left: 50px;
  padding: 8px;
  border-radius: 9px;
  box-sizing: border-box;
  color: black;
  width: 200px;
  height: 50px;
  margin-top: 8px;
  margin-bottom: 8px;
}
select:hover{
  border:2px solid #eb3467;
  color: white;
  background-color: #eb3467;
}


textarea{
  width: 278px;
  margin-left: 51px;
}
textarea:hover{
  border: 2px solid #eb3467;
}

